:root{
  --md-text-font: "Mojangles";
}
@font-face {
  font-family: "Mojangles";
  src: url(Minecraft-Seven_v2.woff2);
}
.card {
	padding: 1em;
	border-radius: 0.4rem;
	border: solid 1px rgb(80, 80, 80);
	outline: none;
}
.card h2 {
  margin-top: 0;
  margin-bottom: 4px;
}
img.emoji {
	height: 1.2em;
	vertical-align: -0.1em;
	margin: 0.05em 0.1em;
}
[data-md-color-scheme="slate"] {
  --md-hue: 200; 
}